:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #FFFFFF;
  --bg-color:#2F303A;
  --button-color: #F5F4FA;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}


ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
}


/* Шапка сайта| Page header */


.container {
  /* padding-left: 15px;
  padding-right: 15px; */
  
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 1px solid salmon;
}


.logo {
  font-family: Raleway, cursive;
    
    font-size: 26px;
    line-height:1.2;

  text-decoration: none;
}

.blue {
  color: var(--accent-color);
}

.black {
  color: #000000;
}


.pagination .link {
  color: var(--title-text-color);

    font-weight: 500;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.pagination .link:hover,
.pagination .link:focus {
  color: var(--accent-color)
}

.info {
  padding: 0;
  margin: 0;
}

.info .link:hover,
.info .link:focus {
  color: var(--accent-color)}

  .info .link {
      color: var(--primary-text-color);

        font-weight: 500;
        letter-spacing: 0.02em; 
        
        text-decoration: none;
}

/* Основная часть */

.widget {
  color: var(--primary-bg-color);
  background-color:#2F303A;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 34px;
  min-width: 200px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--primary-bg-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
      letter-spacing: 0.06em;
}

.widget-title {
  margin-top: 0;
  margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    }

    
    /* Перечень преимуществ */

    /* Секция */

    .section {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    .section.no-padding {
      padding-top: 0;
      padding-bottom: 0;

    }

    .subject {
      display: none;
      margin-top: 0px;
    }

.section-title {

    margin-top: 0;
    margin-bottom: 10px;

  color: var(--title-text-color);

    font-weight: 700;
   
}


.section-tagline {
  
    font-weight: 400;
    line-height: 1.71;
}

/* Картинки*/

/* .features {
  background-color: #F5F4FA;
} */

.features .section-title {
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.features .list .desc {
   
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Наша команда */

.caption {
  margin-top: 0;
  margin-bottom: 50px;

   color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* Страница номер 2 */


.nav-button .aside {
    display: inline-block;
    padding: 6px 22px;
    min-width: 73px;
    text-align: center;

  background-color: var(--button-color);
  border-color: var(--button-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.nav-button .aside:hover {
  color: var(--primary-bg-color);
  background-color: #2196F3;
}

.content .section-title {
  margin-bottom: 4px;

  font-weight: 700;
    font-size: 18px;
    line-height: 2;
   letter-spacing: 0.06em;
}

.content .text {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}


/* Футер */

footer {
  background-color: var(--bg-color) ;
}

.white {
  color: var(--primary-bg-color);
}
.ggle .point {
  color: var(--primary-bg-color);

    font-weight: 400;
    line-height: 1.71;

    text-decoration: none;
}

.ggle .end {
  color: rgba(255, 255, 255, 0.6) ;

  font-weight: 400;
    line-height: 1.71;

    text-decoration: none;
   
}

/* Основной цвет текста   #757575  */
/* Вторичный цвет текста  #212121; */
/* Основной цвет фона     #FFFFFF */ 
/* Вторичный цвет фона   #2F303A */
/* Акwент 2196F3 */
/* Размытые надписи в хедере rgba(255, 255, 255, 0.6); */

/* Site nav */

